h1 {
  height: 20vh;
  justify-content: center;
  text-align: center;
}

form {
  height: 10vh;
  justify-content: center;
  text-align: center;
}

ul {
  justify-content: center;
  text-align: center;
}
